body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 1rem;
}

.content-wrapper {
    max-width: 800px;
    margin: 50px auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

button[type="submit"]:hover {
    background-color: var(--accent-color);
}

#posts-container {
    margin-top: 2rem;
}

.post-card {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.post-author {
    font-weight: bold;
    color: #555;
}

.post-date {
    color: #888;
    font-size: 0.9rem;
}

.post-content {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 1rem;
    word-wrap: break-word;
    word-break: break-word;
}

.expand-button {
    color: #4e73df;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: right;
}

.post-details {
    display: none;
    margin-top: 1rem;
}

/* 返信部分の背景色と枠線を変更 */
.reply {
    padding: 0.8rem;
    background-color: #faf8f4; /* 薄い茶色 */
    border: 1px solid #faf8f4; /* 枠線の色 */
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

/* 返信テキストの色を黒に設定 */
.reply-author {
    font-weight: bold;
    color: #333; /* 黒色 */
}

.reply-content,
.reply-content-full {
    color: #333; /* 黒色 */
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.reply-date {
    color: #555; /* 濃い灰色 */
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.reply-form {
    margin-top: 1rem;
}

.reply-form input[type="text"],
.reply-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #f1d8ac;
    border-radius: 5px;
}

.reply-submit-button {
    padding: 0.5rem 1rem;
    background-color: #352501;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reply-submit-button:hover {
    background-color: #896c0b;
}

.post-author,
.post-date,
.reply-author,
.reply-date {
    word-wrap: break-word;
    word-break: break-word;
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    .content-wrapper {
        padding: 1rem;
        margin-left: 0;
    }
}