body {
    background-color: #ffffff; /* 背景色を白に設定 */
    font-family: 'Roboto', sans-serif; /* デフォルトフォントを設定 */
    margin: 0;
    padding: 0;
}

/* メインコンテンツ */
main {
    padding: 1rem;
}

h1 {
    font-size: 1.6rem;   /* PCなど広い画面向けのサイズ */
}

/* サーチセクション */
#search-section {
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* 上部に余白を追加 */
    width: 100%; /* 幅を100%に設定 */
    max-width: 800px; /* 最大幅を設定 */
}

/* キャリアパスグラフのセクション */
#career-visualization {
    text-align: center;
    margin-bottom: 20px;
    width: 100%; /* 幅を100%に設定 */
    max-width: 800px; /* 最大幅を設定 */
}

#career-visualization h2 {
    font-size: 24px;
    color: #574637;
    text-align: center; /* 中央揃え */
    margin-bottom: 10px; /* 下に少し余白を追加 */
}

#career-visualization p {
    margin: 0 20px; /* 左右に余白を追加 */
    line-height: 1.5;
    text-align: left; /* 左揃え */
    max-width: 800px; /* 最大幅を設定して中央に配置 */
    margin-left: auto;
    margin-right: auto;
}

/* キャリアパスグラフ */
#career-path-graph {
    width: 100%;
    margin-top: 10px; /* 上部の余白を小さく */
    margin-bottom: 10px; /* 下部の余白を小さく */
    overflow-x: auto; /* 横スクロールを可能に */
    overflow-y: auto; /* 縦スクロールを可能に */
    height: auto; /* 高さを自動調整 */
}

/* ユーザーカードのセクション */
#user-card-container {
    display: block; /* ブロック要素に設定 */
    width: 100%; /* 幅を100%に設定 */
    margin-top: 20px; /* 上部の余白を増やす */
}

/* カードスタイル */
.career-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px; /* パディングを増やす */
    margin-bottom: 20px; /* 下に余白を追加 */
    width: 100%; /* 親コンテナに合わせて幅を設定 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-sizing: border-box; /* パディングとボーダーを含める */
}

.career-card:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

/* ツールチップのスタイル */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}

svg text {
    font-size: 14px;  /* すべてのSVG内テキストを14pxに固定 */
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 8px 12px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    border-radius: 6px;
    font-size: 13px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 9999;
  }

@media (max-width: 768px) {
    h1{
        font-size: 1.2rem;
        margin-top: -20px;
    }

    #career-visualization h2 {
        font-size: 1.0rem;
    }

    #career-visualization p {
        font-size: 0.8rem;
    }
}

/* 450px以下 */
@media (max-width: 450px) {
    svg text {
        font-size: 12px;  /* すべてのSVG内テキストを12pxに固定 */
    }
}
