body {
    background-color: #ffffff; /* 背景色を白に設定 */
    font-family: 'Roboto', sans-serif; /* デフォルトフォントを設定 */
    margin: 0;
    padding: 0;
}

/* メインコンテンツ */
main {
    padding: 1rem;
}

/* サーチセクション */
#search-section {
    padding: 20px;
    text-align: center;
    margin-top: 20px; /* 上部に余白を追加 */
}

/* キャリアパスグラフのセクション */
#career-visualization {
    text-align: center;
    margin-bottom: 20px;
}

#career-visualization h2 {
    font-size: 24px;
    color: #574637;
    text-align: center; /* 中央揃え */
    margin-bottom: 10px; /* 下に少し余白を追加 */
}

#career-visualization p {
    margin: 0 20px; /* 左右に余白を追加 */
    line-height: 1.5;
    text-align: left; /* 左揃え */
    max-width: 800px; /* 最大幅を設定して中央に配置 */
    margin-left: auto;
    margin-right: auto;
}

/* キャリアパスグラフ */
#career-path-graph {
    width: 100%;
    margin-top: 10px; /* 上部の余白を小さく */
    margin-bottom: 10px; /* 下部の余白を小さく */
    overflow: visible; /* 必要に応じて表示 */
}

/* ユーザーカードのセクション */
#user-card-container {
    display: block;
    margin-top: 10px; /* 上部の余白を小さく */
    justify-content: center;
}

/* カードスタイル */
.career-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 20px auto; /* カードを中央に配置 */
    width: 90%; /* カードをコンテナの90%の幅にする */
    max-width: 1000px; /* カードの最大幅を設定 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    display: block; /* カードをブロック要素にする */
}

.career-card:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.career-path {
    margin-top: 20px;
}