body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

main {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--card-background-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* フォームのスタイル */
form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid var(--card-border-color);
    border-radius: 4px;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    padding: 12px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--accent-color);
}

/* モバイルデバイス対応 */
@media (max-width: 768px) {
    main {
        width: 95%;
    }

    form {
        margin-top: 10px;
    }
}

/* フォームフィールドのフォーカス時のスタイル */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: var(--accent-color);
    outline: none;
    box-shadow: 0 0 5px rgba(176, 148, 30, 0.5);
}